<div layout="column" class="home-container responsive-sm" align="center" style="height:100%;     overflow-y:hidden;">
    <div  ng-show="!searchMode" class="search-box">
        <h2 class="title" aria-label="{{cabecera}}">{{pageTitle}}</h2>
    </div>
    <div ng-show="searchMode" class="custom-bar-dark">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" aria-label="Haga clic aquí y escriba o dicte las palabras a buscar" placeholder="{{'buscador.label' | translate}}" ng-model="query">
            </md-input-container>
            <md-button class="md-raised" style="" ng-click="search()" aria-label="Haga clic aquí para buscar la palabra">
                <ng-md-icon icon="search" class="icon-in-button">
                </ng-md-icon>
                <span style="vertical-align: middle;">
                    {{'buscador.btn_buscar' | translate}}
                </span>
            </md-button>
            <md-button class="md-raised" ng-click="searchCancel()" aria-label="Haga clic aquí para cancelar el modo buscador.">
                <span>{{'buscador.btn_cancelar' | translate}}</span>
            </md-button>
    </div>
    <md-content class="background home-container responsive-sm " align="center" style="height:92%; ">
        <md-content style="height:100%;" class="background has-header has-footer">
            <div style="text-align: justify; text-justify: inter-word; margin-left:15px;margin-right:15px; margin-bottom:2px" ng-repeat="x in obj_reading">
                <span class="verse" ng-bind-html="x.data"></span>
                <br>
                <br>
            </div>
        </md-content>
    </md-content>
        <div class="custom-footer-dark" layout="row">
        {{footerTitle}}
        </div>
    <core-progress state="progress"></core-progress>
</div>


