<div ui-view="leftsidenav"> 
<md-content  ng-controller="RightCtrl" layout-padding style="background: #8082C6">
    <md-list>
        <md-list-item class="md-2-line" ui-sref="app">
            <div class="md-list-item-text">
                <h2 class="white-text"><b><ANY translate="home"></ANY></b></h2>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line" ui-sref="app.bible">
            <div class="md-list-item-text">
                <h2 class="white-text"><b><ANY translate="reavivados"></ANY></b></h2>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line" ui-sref="app.egw">
            <div class="md-list-item-text">
                <h2 class="white-text"><b><ANY translate="espiritu_profecia"></ANY></b></h2>
            </div>
        </md-list-item>
    </md-list>
</md-content>
</div>