



<!-- <md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{'titles.dialog_update_title' | translate}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <ng-md-icon icon="clear" aria-label="Close dialog"></ng-md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
      <div style=" text-justify: inter-word; margin-left:15px;margin-right:15px; margin-bottom:2px">
            <h3 ng-bind-html="$root.need_update.title"></h3>
            <h4 ng-bind-html="$root.need_update.content"></h4>
          <br><br>
      </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-show="$root.need_update['condition']" href="https://play.google.com/store/apps/details?id=com.davsoftw.creedasusprofetas" target="_blank" md-autofocus>
      {{'btn.btn_update' | translate}}
      </md-button>
      <span flex></span>
      <md-button ng-click="answer('useful')">
        {{'btn.btn_close' | translate}}
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog> -->